body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: black;
}

main {
  width: 100vw;
  height: 97vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: white;
  text-align: center;
}

p {
  color: white;
  text-align: center;
}

